<main class="detail-page-main">
   
    <article class="article container detail-page" data-detail-container>
        <!-- <figure class="detail-banner img-holder">
            <img src="/images/detail-banner.jpg" width="300" height="300" class="img-cover">
        </figure>
        <div class="detail-content">
            <div class="title-detail">
                <h1 class="display-small">Restaurant-Style Pan Seared Salmon</h1>
            
                <button class="icon-btn has-state removed" aria-label="Add to saved recipes" id="btn_bookmark">
                    <span class="material-symbols-outlined bookmark-add" aria-hidden="true">
                        <i class='bx bx-bookmark-plus' ></i>
                    </span>
                    <span class="material-symbols-outlined bookmark" aria-hidden="true">
                        <i class='bx bxs-bookmark'></i>
                    </span>
                    <span class="label-large save-text">Save</span>
                    <span class="label-large unsaved-text">Unsaved</span>
                </button>
            
            </div>
            <div class="detail-author label-large">
                <span class="span">by</span>Le Hoang Duc
            </div>
            <div class="detail-stats">
                <div class="stats-item">
                    <span class="display-medium">4</span>
                    <span class="label-medium">Ingredients</span>
                </div>
                <div class="stats-item">
                    <span class="display-medium">15</span>
                    <span class="label-medium">Minutes</span>
                </div>
                <div class="stats-item">
                    <span class="display-medium">384</span>
                    <span class="label-medium">Colories</span>
                </div>
            </div>
            <div class="tag-list">
                <a href="/recipes" class="badge-btn body-medium has-state">Fish & Seafood</a>
                <a href="/recipes" class="badge-btn body-medium has-state">American</a>
                <a href="/recipes" class="badge-btn body-medium has-state">Dinner</a>
                <a href="/recipes" class="badge-btn body-medium has-state">Salmon</a>


            </div>
            <h2 class="title-medium ingr-title">Ingredients
                <span class="label-medium">for 6 Servings</span>
            </h2>
            <ul class="body-large ingr-list">
                <li class="ingr-item">1/2 pounds skirt steak or sirloin flap steak</li>
                <li class="ingr-item">1/2 pounds skirt steak or sirloin flap steak</li>
                <li class="ingr-item">1/2 pounds skirt steak or sirloin flap steak;homemade burger buns;</li>

            </ul> -->

            
        
        <!-- </div> -->

        <!-- Skeleton -->
        <div class="detail-banner detail-banner-skeleton skeleton"></div>
        <div class="detail-content detail-content-skeleton">
            <div class="title-skeleton skeleton"></div>
        </div>
        <div class="detail-author text-skeleton skeleton"></div>
        <div class="detail-stats">
            <div class="stats-item">
                <span class="skeleton title-skeleton"></span>
                <span class="skeleton text-skeleton"></span>
            </div>
            <div class="stats-item">
                <span class="skeleton title-skeleton"></span>
                <span class="skeleton text-skeleton"></span>
            </div>
            <div class="stats-item">
                <span class="skeleton title-skeleton"></span>
                <span class="skeleton text-skeleton"></span>
            </div>
           
        </div>
        <div class="ingr-title skeleton title-skeleton"></div>
        <div class="ingr-list">
            <div class="ingr-item skeleton text-skeleton"></div>
            <div class="ingr-item skeleton text-skeleton"></div>
            <div class="ingr-item skeleton text-skeleton"></div>
            <div class="ingr-item skeleton text-skeleton"></div>
        </div>
       
        
        
    </article>
    <div class="submit-file">
        <h1 class="title-submit">Share your recipe for everyone</h1>
        <a class="link-submit" href="/submit">
            <button class="submit-recipe">Submit here</button>
        </a>
    </div>
</main>